/* * MOBIL MENU CHECKBOX >>> */
#mobile-menu-toggle {
  display: none;
}

#mobile-menu-toggle:checked + .mobile-menu span {
  background: transparent;
  transition: 0.3s background-color;
  -webkit-transition: 0.3s background-color;
  -moz-transition: 0.3s background-color;
  -ms-transition: 0.3s background-color;
  -o-transition: 0.3s background-color;
}

#mobile-menu-toggle:checked + .mobile-menu span::before {
  bottom: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transition: 0.3s 0.3s transform, 0.3s bottom;
  -webkit-transition: 0.3s 0.3s transform, 0.3s bottom;
  -moz-transition: 0.3s 0.3s transform, 0.3s bottom;
  -ms-transition: 0.3s 0.3s transform, 0.3s bottom;
  -o-transition: 0.3s 0.3s transform, 0.3s bottom;
}

#mobile-menu-toggle:checked + .mobile-menu span::after {
  top: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transition: 0.3s 0.3s transform, 0.3s top;
  -webkit-transition: 0.3s 0.3s transform, 0.3s top;
  -moz-transition: 0.3s 0.3s transform, 0.3s top;
  -ms-transition: 0.3s 0.3s transform, 0.3s top;
  -o-transition: 0.3s 0.3s transform, 0.3s top;
}

#mobile-menu-toggle:checked ~ nav {
  left: -1rem;
  opacity: 1;
}
/* * MOBIL MENU CHECKBOX <<< */

/* * MOBIL MENU TOGGLE ICON >>> */
.mobile-menu {
  margin-left: 0.5rem;
  cursor: pointer;
  display: none;
  width: calc(10 * var(--height));
  height: calc(6 * var(--height));
}

@media screen and (max-width: 576px) {
  .mobile-menu {
    display: flex;
  }
}

.mobile-menu span,
.mobile-menu span::before,
.mobile-menu span::after {
  content: "";
  display: block;
  height: var(--height);
  width: 100%;
  background-color: #000;
}

.mobile-menu span {
  transform: translateY(var(--space));
  -webkit-transform: translateY(var(--space));
  -moz-transform: translateY(var(--space));
  -ms-transform: translateY(var(--space));
  -o-transform: translateY(var(--space));
  transition: 0.3s background-color;
  -webkit-transition: 0.3s background-color;
  -moz-transition: 0.3s background-color;
  -ms-transition: 0.3s background-color;
  -o-transition: 0.3s background-color;
}

.mobile-menu span::before {
  position: absolute;
  bottom: var(--space);
  transition: 0.3s transform, 0.3s 0.3s bottom;
  -webkit-transition: 0.3s transform, 0.3s 0.3s bottom;
  -moz-transition: 0.3s transform, 0.3s 0.3s bottom;
  -ms-transition: 0.3s transform, 0.3s 0.3s bottom;
  -o-transition: 0.3s transform, 0.3s 0.3s bottom;
}

.mobile-menu span::after {
  position: absolute;
  top: var(--space);
  transition: 0.3s transform, 0.3s 0.3s top;
  -webkit-transition: 0.3s transform, 0.3s 0.3s top;
  -moz-transition: 0.3s transform, 0.3s 0.3s top;
  -ms-transition: 0.3s transform, 0.3s 0.3s top;
  -o-transition: 0.3s transform, 0.3s 0.3s top;
}
/* * MOBIL MENU TOGGLE ICON <<< */
